<%= form_for @post, html: { class: 'uk-form-horizontal' } do |f| %>
  <div>
    <%= f.label :date, class: 'uk-form-label' %>
    <div class="uk-form-controls">
      <%= f.date_field :date, class: 'uk-input uk-form-small uk-width-auto' %>
    </div>
  </div>

  <div class="uk-margin">
    <%= f.label :overtime_request, class: 'uk-form-label' %>
    <div class="uk-form-controls">
      <%= f.number_field :overtime_request, class: 'uk-input uk-form-small uk-width-auto', step: 0.1, min: 0.1 %>
    </div>
  </div>

  <div class="uk-margin">
    <%= f.label :rationale, class: 'uk-form-label' %>
    <div class="uk-form-controls">
      <%= f.text_area :rationale, class: 'uk-textarea uk-form-small' %>
    </div>
  </div>

  <%= render partial: 'status', locals: { f: f } if is_admin? %>
  <%= f.submit 'Save', class: 'uk-button uk-button-primary' %>
<% end %>