<tr>
  <td><%= post.id %></td>
  <td><%= post.user.full_name %></td>
  <td><%= post.date %></td>
  <td><%= post.overtime_request %></td>
  <td><%= link_to truncate(post.rationale), post %></td>
  <td class="uk-text-center"><%= status_label post.status, 'uk-align-center' %></td>
  <td class="uk-text-center">
    <%= edit_link_to edit_post_path(post), post.id if policy(post).update? %>
  </td>
  <td class="uk-text-center">
    <%= delete_link_to post_path(post), post.id, 'post' if policy(post).destroy? %>
  </td>
</tr>