<h2 class="uk-heading-bullet">View post</h2>
<div class="uk-margin uk-flex uk-flex-center">
  <div class="uk-padding uk-card uk-card-default uk-card-small">
    <table class="uk-table uk-table-divider">
      <tr>
        <td colspan="2">
          <h3 class="uk-text-bold"><%= @post.rationale %></h3>
        </td>
      </tr>
      <tr>
        <td>Overtime Amount requested:</td>
        <td><%= @post.overtime_request %></td>
      </tr>
      <tr>
        <td>Employee:</td>
        <td><%= @post.user.full_name %></td>
      </tr>
      <tr>
        <td>Date:</td>
        <td><%= @post.date %></td>
      </tr>
      <tr>
        <td>Current Stage of Approval:</td>
        <td class="uk-text-center"><%= status_label @post.status %></td>
      </tr>
    </table>

    <div class="uk-button-group uk-margin uk-width-1-1">
      <%= edit_button_to edit_post_path(@post), @post.id if policy(@post).update? %>
      <%= delete_button_to edit_post_path(@post), @post.id, 'post' if policy(@post).destroy? %>
    </div>
  </div>
</div>