<!DOCTYPE html>
<html>
  <head>
    <title>OvertimeTracker</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="uk-container">
      <%= render 'shared/nav' %>
      <%= yield %>
    </div>

    <%= javascript_tag type: 'application/javascript' do %>
      <% flash.each do |type, msg| %>
        UIkit.notification({
            message: '<%= msg %>',
            status: '<%= type %>-hivis',
            pos: 'top-center',
            timeout: 5000
        });
      <% end %>
    <% end %>
  </body>
</html>
