<!DOCTYPE html>
<html>
  <head>
    <title>OvertimeTracker</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'app' %>
  </head>

  <body>
    <div class="uk-container">
      <%= render 'shared/nav' %>
      <%= yield %>
    </div>

    <% if flash.any? %>
      <%= javascript_tag type: 'application/javascript' do %>
        <% flash.each do |type, msg| %>
          Notification('<%= type %>', '<%= msg %>')
        <% end %>
      <% end %>
    <% end %>
  </body>
</html>
